// Variables
@import "variables";
@import "~bootstrap/scss/bootstrap"; // Bootstrap
@import "~tributejs/dist/tribute.css"; // Tribute
@import "floating-labels";
@import "./form";

a {
  text-decoration: none;
}

.rm-shadow {
  box-shadow: none !important;
}

.btn-primary {
  color: white;
  background-color: $primary;

  &:hover,
  &:active,
  &:focus {
    background-color: #6f68ee;
  }
}

.btn-blurple {
  color: white;
  background-color: #7289da;

  &:hover,
  &:active,
  &:focus {
    background-color: #657ac3;
    color: white;
  }
}

.text-gold {
  color: $yellow-600;
}

.text-reputation {
  color: black;
}

.score {
  display: inline-flex;
  align-items: center;
  padding: 5px 8px;
  line-height: 1px;

  & > [class^="heroicon"] {
    margin-right: 2px;
  }
}

.navbar {
  .bg-secondary {
    background-color: $gray-700 !important;
  }

  ::placeholder {
    color: white;
    opacity: 1;
  }
}

.sponsor-icon {
  height: 17px;
  width: 17px;
  vertical-align: sub;
}

.favicon {
  height: 16px;
  width: 16px;
  vertical-align: sub;
}

.avatar-15 {
  height: 15px !important;
  width: auto !important;
}

.avatar-20 {
  height: 20px !important;
  width: 20px !important;
}

.avatar-25 {
  height: 25px !important;
  width: 25px !important;
}

.avatar-30 {
  height: 30px !important;
  width: 30px !important;
}

.avatar-40 {
  height: 40px !important;
  width: 40px !important;
}

.avatar-50 {
  height: 50px !important;
  width: 50px !important;
}

.avatar-100 {
  height: 100px !important;
  width: 100px !important;
}

.avatar-120 {
  height: 120px !important;
  width: 120px !important;
}

.btn-task {
  font-size: 12px;
  padding: 1px 8px;
  box-shadow: none !important;
}

.btn-danger {
  color: white;

  &:hover,
  &:focus,
  &:disabled {
    color: white;
  }
}

.btn-outline-danger,
.btn-outline-success,
.btn-outline-primary,
.btn-outline-info {
  &:hover,
  &:active {
    color: white;

    & > [class*='text-'] {
      color: inherit !important;
    }
  }
}

// Remove Bootstrap Glow on Input and Button
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: none !important;
}

.fa-link {
  color: $primary;
}

.list-group-item {
  padding: 0.4rem 1rem;
}

.form-check-input {
  &:disabled {
    opacity: initial;
  }
}

.task-icon {
  height: 15px;
  width: 15px;
}

.task-font {
  font-size: medium;
}

.task-check {
  height: 1.3rem;
  width: 1.3rem;
  margin-top: 2px;
  border-radius: 100% !important;
  border: 2px solid $primary;
}

.body-font {
  color: $gray-700;

  img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid $gray-300;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.staff-bar {
  font-size: 13px;

  .fa,
  .fab {
    font-size: 12px;
  }
}

.bg-hero {
  background: linear-gradient(90deg, $primary 0%, #6a63ecba 90%);
  background-size: contain;
}

.bg-tag {
  background: #eae9ff;
  color: $primary;
}

.avatar-stack {
  .avatar {
    height: 30px;
    margin-right: -18px;
    border: 2px solid white;
    transition: all 0.2s ease;
  }

  .praise-avatar {
    height: 15px;
    width: 15px;
    margin-right: -10px;
    border: 1px solid white;
    vertical-align: sub;
  }

  .replies-avatar {
    height: 18px;
    width: 18px;
    margin-right: -10px;
    border: 1px solid white;
  }

  span {
    margin-left: 15px !important;
  }

  &:hover .avatar {
    margin-right: -3px !important;
  }

  &:hover span {
    margin-left: 5px !important;
  }
}

.spinner-border-mini {
  height: 13px;
  width: 13px;
  margin-bottom: 1px;
  border-width: 0.2em;
}

.spinner-border-task {
  width: 0.80rem;
  height: 0.80rem;
  border-width: .2em;
  margin-right: 2px;
}

.dropdown-item:active {
  color: white !important;

  & > [class^='heroicon-'],
  & > [class^='heroicon'] {
    color: inherit !important;
  }
}

.bg-patron {
  background-color: $yellow-100 !important;
}

.recent-questions {
  border-radius: 15px !important;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: $gray-600;
  margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.sticky-footer {
  position: sticky;
  top: 25px;
}

.pagination {
  justify-content: center;
}

.page-link {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.tribute-container {
  background-color: white;
  border: 1px solid $gray-400;
  border-radius: 6px;
  margin-top: 10px;
  max-width: auto;
}

.tribute-container ul {
  background: $gray-200;
}

.tribute-container li {
  cursor: pointer;
  margin-bottom: 1px;
  background: white;
  padding: 5px 15px;
  &.highlight {
    background: $gray-200;
  }
}

.vertical-line {
  border-left: 3px solid lightgray;
  height: 40px;
}

// Curvy Style
.card,
.toast,
.toast-body,
.form-control,
.input-group-text,
.form-file-label,
.btn,
.dropdown-menu,
.navbar-toggler,
.alert,
.tooltip-inner,
.modal-content,
.popover {
  border-radius: 6px;
}

.popover-body {
  padding: 0;
}

.rounded {
  border-radius: 6px !important;
}

.rounded-top {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.rounded-bottom {
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.card-header:first-child,
.popover-header {
  border-radius: 6px 6px 0 0;
}

.badge {
  border-radius: 15px;
}

.list-group-item:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.list-group-item:last-child,
.accordion-flush .accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.gallery {
  display: flex;

  img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}

.gallery > div:not(:last-child) {
  margin-right: 1%;
}

.tippy-box {
  border-radius: 6px !important;
}

.btn-social {
  &.btn-google {
    color: $google;
    border-color: $google;
  }

  &.btn-twitter {
    color: $twitter;
    border-color: $twitter;
  }

  &.btn-github {
    color: $github;
    border-color: $github;
  }

  &.btn-discord {
    color: $discord;
    border-color: $discord;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.tippy-status {
  margin: -5px -9px 0px -9px;
}

.brand-icon {
  margin-right: 3px;
  margin-bottom: 3px;
  height: 15px;
  width: 15px;
}

.heroicon {
  vertical-align: sub;
  margin-right: 2px;
}

.heroicon-15px {
  height: 15px;
  width: 15px;
}

.heroicon-18px {
  height: 18px;
  width: 18px;
}

.heroicon-20px {
  height: 20px;
  width: 20px;
}

.heroicon-23px {
  height: 23px;
  width: 23px;
}

.heroicon-60px {
  height: 60px;
  width: 60px;
}

.taskord-spinner {
  border: 3px solid $gray-500;
  border-right-color: black;
}

.badge-font {
  font-size: 11px;
  padding: 2px;
}

.vertical-separator {
  margin-right: 8px;
  margin-left: 2px;
  border-left: 1px solid grey;
}

.explore-nav {
  margin-top: -23px;
}

.explore-user-card {
  margin-top: -40px;
}

.bg-staffbar {
  background-color: $black !important;
}

.border-staffbar {
  border-color: $black !important;
}

.border-reply {
  border-color: $gray-300 !important;
}

.reply-line {
  margin-left: 11px;
}

:target {
  background-color: $yellow-100;
}
